/*
 Solarized Color Schemes originally by Ethan Schoonover
 http://ethanschoonover.com/solarized

 Ported for PrismJS by Hector Matos
 Website: https://krakendev.io
 Twitter Handle: https://twitter.com/allonsykraken)
*/

/*
SOLARIZED HEX
--------- -------
base03    #002b36
base02    #073642
base01    #586e75
base00    #657b83
base0     #839496
base1     #93a1a1
base2     #eee8d5
base3     #fdf6e3
yellow    #b58900
orange    #cb4b16
red       #dc322f
magenta   #d33682
violet    #6c71c4
blue      #268bd2
cyan      #2aa198
green     #859900
*/

html:not(.dark) code[class*="language-"],
html:not(.dark) pre[class*="language-"] {
  color: #657b83; /* base00 */
  font-family: Consolas, Monaco, "Andale Mono", "Ubuntu Mono", monospace;
  text-align: left;
  white-space: pre;
  word-spacing: normal;
  word-break: normal;
  word-wrap: normal;

  line-height: 1.5;

  -moz-tab-size: 4;
  -o-tab-size: 4;
  tab-size: 4;

  -webkit-hyphens: none;
  -moz-hyphens: none;
  -ms-hyphens: none;
  hyphens: none;
}

html:not(.dark) pre[class*="language-"]::-moz-selection,
html:not(.dark) pre[class*="language-"] ::-moz-selection,
html:not(.dark) code[class*="language-"]::-moz-selection,
html:not(.dark) code[class*="language-"] ::-moz-selection {
  background: #073642; /* base02 */
}

html:not(.dark) pre[class*="language-"]::selection,
html:not(.dark) pre[class*="language-"] ::selection,
html:not(.dark) code[class*="language-"]::selection,
html:not(.dark) code[class*="language-"] ::selection {
  background: #073642; /* base02 */
}

/* Code blocks */
html:not(.dark) pre[class*="language-"] {
  padding: 1em;
  margin: 0.5em 0;
  overflow: auto;
  border-radius: 0.3em;
}

html:not(.dark) :not(pre) > code[class*="language-"],
html:not(.dark) pre[class*="language-"] {
  background-color: #fdf6e3; /* base3 */
}

/* Inline code */
html:not(.dark) :not(pre) > code[class*="language-"] {
  padding: 0.1em;
  border-radius: 0.3em;
}

html:not(.dark) .token.comment,
html:not(.dark) .token.prolog,
html:not(.dark) .token.doctype,
html:not(.dark) .token.cdata {
  color: #93a1a1; /* base1 */
}

html:not(.dark) .token.punctuation {
  color: #586e75; /* base01 */
}

html:not(.dark) .namespace {
  opacity: 0.7;
}

html:not(.dark) .token.property,
html:not(.dark) .token.tag,
html:not(.dark) .token.boolean,
html:not(.dark) .token.number,
html:not(.dark) .token.constant,
html:not(.dark) .token.symbol,
html:not(.dark) .token.deleted {
  color: #268bd2; /* blue */
}

html:not(.dark) .token.selector,
html:not(.dark) .token.attr-name,
html:not(.dark) .token.string,
html:not(.dark) .token.char,
html:not(.dark) .token.builtin,
html:not(.dark) .token.url,
html:not(.dark) .token.inserted {
  color: #2aa198; /* cyan */
}

html:not(.dark) .token.entity {
  color: #657b83; /* base00 */
  background: #eee8d5; /* base2 */
}

html:not(.dark) .token.atrule,
html:not(.dark) .token.attr-value,
html:not(.dark) .token.keyword {
  color: #859900; /* green */
}

html:not(.dark) .token.function {
  color: #b58900; /* yellow */
}

html:not(.dark) .token.regex,
html:not(.dark) .token.important,
html:not(.dark) .token.variable {
  color: #cb4b16; /* orange */
}

html:not(.dark) .token.important,
html:not(.dark) .token.bold {
  font-weight: bold;
}
html:not(.dark) .token.italic {
  font-style: italic;
}

html:not(.dark) .token.entity {
  cursor: help;
}
